.navigation {
  display: flex;
  flex-direction: row;
  width: 212px;
  justify-content: space-between;
  margin-left: 65px;
}

.navigation__link {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.navigation__link_bold {
  font-weight: 500;
}

@media (max-width: 1025px) {
  .navigation {
    display: none;
  }
}
